{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Amenaza</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, delectus ad pariatur alias in eveniet, eligendi magni dolor id dignissimos repellat! Incidunt esse facere neque hic ducimus corrupti nam asperiores!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/amenaza.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}